
<!doctype html>
<html lang="en">
<head>
  <title>Glenn</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="dist/css/signin.min.css">
  <link rel="stylesheet" href="dist/css/style.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-route.min.js"></script>
  <script src="dist/js/angular-md5.min.js"></script>

  <script src="dist/js/app.min.js"></script>
</head>
<body ng-app="muse" ng-controller="RootCtrl">

<div ng-view></div>

</body>
</html>

<script type="text/ng-template" id="login.html">
  <div class="container-fluid">
    <div class="row" style="margin-top:80px">
      <div ng-controller="RootCtrl">
        <form ng-submit="loginAttempt()" class="form-signin" role="form">
          <h2 class="form-signin-heading">Please sign in.</h2>
          <div ng-show="logInFailed" class="errorMsg"><p>Log in failed - Invalid username or password.</p></div>
          <input type="email" ng-model="loginUser" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" ng-model="loginPw" class="form-control" placeholder="Password" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="main.html">
  <div class="container-fluid">
    <div class="row" style="margin-top:80px">
      <div ng-controller="MainCtrl">
        <h2>Yay.</h2>

        <div ng-show="loggedIn" class="ng-hide">

          <form ng-submit="logout()" role="form">
            <button type="submit">Log out</button>
          </form>

        </div>

      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="user.html">
  <div class="container-fluid">
    <div class="row" style="margin-top:80px">
      <div class="container">
        User
      </div>
    </div>
  </div>
</script>