
@primaryColour: #00B7FF;
@errorColour: #FF0000;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: @primaryColour;
}

.errorMsg {
  color: @errorColour;
}